{% extends "base.html" %}

{%block intro%}
<h1>Welcome, <br> Prepa Guide </h1>
<p>une application qui facilite la procedure d'orientation pour les etudiants tunisiens en cycle preparatoire aux etudes ingenieurs</p>
<ul class="actions">
    <li><a href="#main" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
</ul>
{%endblock%}

{%block nav%}
<ul class="links">
    <li class="active"><a>Welcome Home</a></li>
    <li><a href="{{ url_for('main.guide') }}">Guide</a></li>
    <li><a href="{{ url_for('main.learn_more') }}">Learn More</a></li>
</ul>
{%endblock%}

{% block main %}
<h1>Home Page of {{user['username']}} you are in the top {{user['rank']}}% </h1>


    
<div class="row gtr-uniform">
    <div class="row gtr-uniform">
        <!--search bar -->
        <div class="col-12">
            <label for="search">barre de recherche</label>
        </div>
        <div class="col-9 col-12-xsmall">
            <input type="search" placeholder="ecole, filiere...">
        </div>
        <div class="col-3 col-12-xsmall">
            <a class="button primary icon solid fa-search ">Search</a>
        </div>

        <!-- Field buttons -->
        <div class="col-12">
            <label for="field">Filtrer par categorie</label>
            <ul class="no-bullets ">
                <li><button class="button fit small" value="all">Tout</button></li>
                <li><button class="button fit small" value="Computer Science and IT">Informatique et Technologies de l'Information</button></li>
                <li><button class="button fit small" value="Energy, Industrial Engineering and Management">Énergie, Génie Industriel et Management</button></li>
                <li><button class="button fit small" value="Mechanical, Electrical and Civil Engineering">Génie Mécanique, Électrique et Civil</button></li>
                <li><button class="button fit small" value="Chemical and Biological Engineering">Génie Chimique et Biologique</button></li>
                <li><button class="button fit small" value="Agricultural and Environmental Engineering">Génie Agricole et Environnemental</button></li>
                <li><button class="button fit small" value="Textile and Material Engineering">Génie Textile et des Matériaux</button></li>
                <li><button class="button fit small" value="Mathematics and Statistics">Mathématiques et Statistiques</button></li>
                <li><button class="button fit small" value="OTHER"> AUTRE</button></li>
            </ul>
        </div>

        <!-- Sliders -->
        <div class="col-6">
            <label for="leniency">Tolerance: <span id="tsliderValue">50</span></label>
            <input type="range" id="tSlider" class="slider" min="1" max="100" />
        </div>
        <div class="col-6">
            <label for="distance">Proximité: <span id="psliderValue">50</span></label>
            <input type="range" id="pSlider" class="slider" min="1" max="500" />
        </div>
</div>


<!-- Tableau -->
<div id="table" class="table-wrapper">
    <h3>Liste des Choix</h3>
    <table class="table-sortable">
        <thead>
            <tr>
                <th>Ecole</th>
                <th>Filiere</th>
                <th>Gouvernorat</th>
                <th>Rang</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody>
            {%for row in ball%}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[-1]}}%</td>
            </tr>
            {%endfor%}
    </table>

    <!-- Back Up button -->
    <div class="col-12">
        <ul class="actions fit">
            <li><a href="#main" class="button primary fit icon solid fa-arrow-up scrolly">BACK UP</a></li>
        </ul>
    </div>
</div>
{% endblock %}
